<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
-->
    <NavigationButton visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <GridLayout columns="auto,*,auto" icon="res://menu" ios:padding="0 10" height="100%" width="100%">
        <ActionButton #actionButton (tap)="onDrawerButtonTap()"></ActionButton>
        <StackLayout col="1" orientation="horizontal" style="horizontal-align: center">
            <Image src="~/app/icons/car-on-the-bridge.png" class="action-bar-icon" tintColor="#ffffff"></Image>
            <Label class="action-bar-label" text="Bridge"></Label>
        </StackLayout>

        <Image #search col="2" src="~/app/icons/search.png" class="fa action-bar-icon" tintColor="#ffffff"
               (tap)="searching = !searching"></Image>
    </GridLayout>

</ActionBar>

<GridLayout rows="auto,auto,*" columns="280,*" class="page">
    <SearchBar row="0" *ngIf="searching" hint="Buscar auto..." (clear)="onClear($event)" [text]="searchString"
               (submit)="onSubmit($event)" (change)="onTextChange($event)" class="search-bar"></SearchBar>
    <Button row="0" col="1" *ngIf="searching" class="fa" (tap)="startListening()" text="&#xf130;"></Button>
    <ActivityIndicator *ngIf="listening" [busy]="listening"></ActivityIndicator>
    <Stack-layout>
        <Button *ngIf="searchString" class="fa btn" [text]="searchString+'  &#xf00d;'" (tap)="onButtonTap()"></Button>
    </Stack-layout>
    <ListView row="1" colSpan="2" #list [items]="autos" (itemTap)="onNavigationItemTap($event)" height="100%">
        <ng-template let-item="item">
            <GridLayout class="list-item">
                <Image [src]="item.imagenes[0]"></Image>
                <Label [text]="item.modelo.marca.nombre + ' ' + item.modelo.nombre + ' ' " class="item-title"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    <AbsoluteLayout row="2" #animatingImageContainer opacity="0" class="animating-image-container">
        <Image #animatingImage width="100%"></Image>
    </AbsoluteLayout>

</GridLayout>
