<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Búsqueda"></Label>
</ActionBar>

<GridLayout rows="auto,*"  class="page">
    <StackLayout row="0" columns="auto, auto, *" orientation="horizontal">
        <SearchBar colSpan="1"  (clear)="onClear($event)" [text]="searchString"
                   (submit)="onSubmit($event)" (change)="onTextChange($event)" class="search-bar"></SearchBar>
        <Button col="1" class="fa search-listen-icon" (tap)="startListening()" text="&#xf130;"></Button>
    </StackLayout>
    <StackLayout row="1">
        <ActivityIndicator [busy]="listening" [visibility]="listening ? 'visible' : 'collapse'"></ActivityIndicator>

    </StackLayout>
</GridLayout>
